<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378115091438-m10su1utld9j4l675lgndqiblrvfnd7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378115091438-m10su1utld9j4l675lgndqiblrvfnd7n</string>
	<key>API_KEY</key>
	<string>AIzaSyBTvUudKIdBWn1HuS3j5CxdVohbRdm4Rbs</string>
	<key>GCM_SENDER_ID</key>
	<string>378115091438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wgt.eg.dev</string>
	<key>PROJECT_ID</key>
	<string>tta-dev-b0914</string>
	<key>STORAGE_BUCKET</key>
	<string>tta-dev-b0914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378115091438:ios:a6212c2eda474de5ccfcff</string>
	<key>DATABASE_URL</key>
	<string>https://tta-dev-b0914.firebaseio.com</string>
</dict>
</plist>