<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635806237937-vf51mapm4ngav2j7tgmin0riccsmns3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635806237937-vf51mapm4ngav2j7tgmin0riccsmns3s</string>
	<key>API_KEY</key>
	<string>AIzaSyBAZMuiP6a2QzVM0a3_Iagqs-lNgpMlnt0</string>
	<key>GCM_SENDER_ID</key>
	<string>635806237937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topgolfmedia.tta</string>
	<key>PROJECT_ID</key>
	<string>tta-prod-430ec</string>
	<key>STORAGE_BUCKET</key>
	<string>tta-prod-430ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635806237937:ios:73547e6386994f635ad550</string>
	<key>DATABASE_URL</key>
	<string>https://tta-prod-430ec-default-rtdb.firebaseio.com</string>
</dict>
</plist>